
@{
    ViewData["Title"] = "CategoryEdit";
    Layout = "~/Views/Share/_Layout.cshtml";
}

@model OnlineShopDemo.Models.ViewModel.CategoryViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="col-12" id="ProductList">

    

    <div class="row" id="EditForm">
        <div class="row" id="EditTitle">
            <h5>CATEGORY</h5>
            <div class="row" id="line">
                <button> <i class="fas fa-chevron-left"></i> </button>
            </div>
        </div>
        <form Id="formEditProduct" enctype="multipart/form-data" method="post" asp-area="Admin" asp-controller="Category" asp-action="Edit">
            <div class="EditContainer">
                <div class="col-xl-4" id="ProductIMG">
                    <div id="container">
                        <h5 style="padding-top:20px;padding-bottom:20px;border-bottom: 1px solid lightgrey;margin-bottom:20px;">DETAIL</h5>
                        <div class="row" id="line">
                            <label for="Text">Category ID</label>
                            <input asp-for="@Model.Category.CateID" id="pass" type="text" readonly>
                            <span asp-validation-for="@Model.Category.CateID"></span>
                        </div>

                        <div class="row" id="line">
                            <label for="Text">Category Name</label>
                            <input asp-for="@Model.Category.CateName" id="pass" type="text" readonly>
                            <span asp-validation-for="@Model.Category.CateName"></span>
                        </div>
                        <div>
                            <a asp-area="Admin" asp-controller="Category" asp-action="CategoryEdit"
                               asp-route-id="@Model.Category.CateID">
                                <i class="fas fa-pen"></i>
                            </a>|

                            <a asp-area="Admin" asp-controller="Category" asp-action="CategoryDelete"
                               asp-route-id="@Model.Category.CateID">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>

                    </div>

                </div>

                <div class="col-xl-4 ">
                    @*<img src="~/Admin/DashBoard/img/logo.png" style="width:300px;height:300px;border-radius: 50%;" alt="photo">
                    <h5>@Model.taikhoan.TaiKhoan1</h5>
                    <h5>Have a nice day !</h5>*@
                </div>

                <div class="col-xl-4 display">

                </div>

            </div>

        </form>
    </div>

</div>






