@model OnlineShopDemo.Models.UserModel.Client
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ChangePassWord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="change-pass">
    <div class="model-content">
        <form asp-action="ChangePass" asp-controller="Profile" method="post">
            <img src="/img/core-img/logo.png" class="pop-up-logo" alt="">
            <p>Change your password</p>
            <input asp-for="@Model.Password" hidden />
            <input asp-for="@Model.Taikhoan" hidden />
            <input type="text" class="login-form" id="old-pass" placeholder="Type your password" required asp-for="@Model.OldPasswordVerify">
            <span asp-validation-for="@Model.OldPasswordVerify" style="width:200px"></span>
            <input type="text" class="login-form" id="new-pass" placeholder="Your new password" required asp-for="@Model.NewPassword">
            <span asp-validation-for="@Model.NewPassword" style="width:200px"></span>
            <input type="text" class="login-form" id="password" placeholder="Re-type your new password" asp-for="@Model.NewPasswordVerify">
            <span asp-validation-for="@Model.NewPasswordVerify" style="width:200px"></span>
            <button type="submit" name="login-btn" class="btn amado-btn login-btn">Save</button>
           
        </form>
    </div>
</div>

